
body {
    font-family: Arial;
    margin: 0;
}

.header {
    width: 100%;
    height: 10vh;
    padding: 5px;
    background-image: radial-gradient(circle, black, white);
}

.header.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for a subtle effect */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo a {
    text-decoration: none;
    color: black;
    font-size: 50px;
}

.logo a:hover {
    opacity: 0.7;
}

.center-container {
    display: flex;
    align-items: center;
}

.plus-link a {
    margin-left: 50px;
    text-indent: -9999px; /* This hides the text */
    display: block;
    width: 40px; /* Set the width of your link */
    height: 40px; /* Set the height of your link */
    background-image: url('../img/plus.png');
    background-size: cover; /* Adjust as needed, can be 'contain', 'cover', etc. */
}

.exel-link a {
    margin-left: 10px;
    text-indent: -9999px; /* This hides the text */
    display: block;
    width: 50px; /* Set the width of your link */
    height: 50px; /* Set the height of your link */
    background-image: url('../img/exel_icon.png');
    background-size: cover; /* Adjust as needed, can be 'contain', 'cover', etc. */
}

.filter-link a {
    margin-right: 30px;
    text-indent: -9999px; /* This hides the text */
    display: block;
    width: 50px; /* Set the width of your link */
    height: 50px; /* Set the height of your link */
    background-image: url('../img/data-filter.webp');
    background-size: cover; /* Adjust as needed, can be 'contain', 'cover', etc. */
}


.db-link a {
    margin-left: 10px;
    text-indent: -9999px; /* This hides the text */
    display: block;
    width: 50px; /* Set the width of your link */
    height: 50px; /* Set the height of your link */
    background-image: url('../img/import_data.png');
    background-size: cover; /* Adjust as needed, can be 'contain', 'cover', etc. */
}

.filter-link a:hover {
    opacity: 0.5;
}

.plus-link a:hover {
    opacity: 0.7;
}

.exel-link a:hover {
    opacity: 0.7;
}

.db-link a:hover {
    opacity: 0.7;
}

.admin-link a {
    text-indent: -9999px; /* This hides the text */
    display: block;
    width: 40px; /* Set the width of your link */
    height: 40px; /* Set the height of your link */
    background-image: url('../img/admin.png');
    background-size: cover; /* Adjust as needed, can be 'contain', 'cover', etc. */
    margin-right: 20px; /* Adjust the space between links as needed */
}

.admin-link a:hover {
    opacity: 0.7;
}

.logout-link a {
    text-indent: -9999px; /* This hides the text */
    display: block;
    width: 40px; /* Set the width of your link */
    height: 40px; /* Set the height of your link */
    background-image: url('../img/logout.png');
    background-size: cover; /* Adjust as needed, can be 'contain', 'cover', etc. */
    margin-right: 20px; /* Adjust the space between links as needed */
}

.logout-link a:hover {
    opacity: 0.7;
}

form {
    display: inline-block;
    margin: 0 20px;
}

input[type="search"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 300px;
}

button[type="submit"] {
    padding: 7px 10px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.5;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

nav ul li a:hover {
    color: red;
}

.content {
    align-content: flex-start;
    justify-content: center;
    height: 100vh; /* Optional, sets the height of the container to the full viewport height */
}

h1 {
    text-align: center;
}

not_available h1 {
    text-align: center;
    color: red;
}

success h1 {
    text-align: center;
    color: green;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid grey;
    padding: 3px;
    text-align: center;
    border-bottom: 1px solid grey;
    font-size: 16px;
}

.resizeable {
    resize: horizontal;
    overflow: auto;
}

td.grey {
    color: grey;
}

td.green {
    color: green;
}

td.orange {
    color: orange;
}

td.red {
    color: red;
}

td.black {
    color: black;
}

th {
    background-color: #f2f2f2;
}

th_ex {
    background-color: #f2f2f2;
    font-size: 14px;
}


legend {
    font-weight: bold;
}

.hidden {
    display: none;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 10px;
}

#buttons-container {
    display: flex;
    gap: 10px;
}

item_body {
    display: block;
    margin: 100px;
    padding: 10px;
    border: 1px solid #ccc;
}

item_body create_item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

change_item form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

change_item form h3 {
    margin: 5px 0;
    font-size: 24px;
}

change_item form td{
    margin: 10px 0;
    font-size: 32px;
}

.form-group {
    margin-bottom: 10px; /* Adjust margin as needed */
}

.form-group label {
    display: inline-block;
    width: 150px; /* Adjust the width as needed to align your labels */
}

.form-group input {
    display: inline-block;
}

.import_data {
    margin-top: 30px; /* Adjust the value as needed */
    text-align: center; /* Optional text centering */
}

/* Dropdown container */
.filter-dropdown-container {
    position: absolute; /* Ensures it covers other elements */
    display: none; /* Initially hidden */
    background: #f9f9f9;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
    top: 70px; /* Adjusts dropdown position */
    left: 150px;
}

/* Show dropdown when active */
.filter-dropdown-container.show {
    display: block;
}