h1 {
    text-align: center;
    margin-top: 300px;
}

form {
    max-width: 500px;
    margin: 10px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

form button:hover {
    background-color: grey;
}

form p {
    margin: 10px 0;
}
