{% extends "admin/base_site.html" %}

{% block title %}{{ admin_site_title }}{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">{{ admin_site_title }}</a></h1>
{% endblock %}