{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>COT</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>
    <div class="header">
        <div class="header sticky">
            <header>
                <nav>
                    <div class="logo"><a href="/">COT</a></div>
                    <div class="center-container">

                        <!-- Button to toggle dropdown -->
                        <div class="filter-link" id="filterButton">
                            <a onclick="toggleDropdown()"></a>
                        </div>

                        <!-- Dropdown content -->
                        <div class="filter-dropdown-container" id="filterDropdown">
                            <form method="get">
                                <div style="text-align: left; margin-top: 5px;">
                                    <label for="id_category">Категорія обєктів(ів):</label>
                                    {{ filter.form.category }}
                                </div>

                                <div style="text-align: left; margin-top: 5px;">
                                    <label for="id_status">Статус обєктів(ів):</label>
                                    {{ filter.form.status }}
                                </div>

                                <div style="text-align: left; margin-top: 5px;">
                                    <label for="id_storage_location">Місцезнаходження обєктів(ів):</label>
                                    {{ filter.form.storage_location }}
                                </div>

                                <div style="text-align: left; margin-top: 5px;">
                                    <label for="id_responsible_person">МВО:</label>
                                    {{ filter.form.responsible_person }}
                                </div>

                                <div style="text-align: left; margin-top: 5px;">
                                    <label for="id_fixed_person">Закріплено за (особа):</label>
                                    {{ filter.form.fixed_person }}
                                </div>

                                <div style="text-align: left; margin-top: 5px;">
                                    <label for="id_price">Первісна вартість (сума):</label>
                                    {{ filter.form.price }}
                                </div>

                                <div style="text-align: right; margin-top: 10px;">
                                    <button type="submit">Фільтрувати</button>
                                </div>

                            </form>
                        </div>


                        <form method="GET" action="{% url 'search' %}">
                            <input type="search" type="text" name="q" placeholder="Пошук...">
                            <button type="submit">Знайти</button>
                        </form>

                        <div class="plus-link">
                            <a href="/create_item"></a>
                        </div>

                        <!-- Import Button -->
                        <div class="db-link">
                            <a href="/upload"></a>
                        </div>

                        <!-- Export Button -->
                        <div class="exel-link">
                            <a href="{% url 'export_excel' %}?q={{ query }}&{{ params }}"></a>
                        </div>

                    </div>

                    <ul>

                        <div class="admin-link">
                            <a href="/admin"></a>
                        </div>

                        <div class="logout-link">
                            <a href="logout"></a>
                        </div>

                    </ul>
                </nav>

                <div class="controls">
                    <div id="buttons-container"></div>
                </div>

            </header>
        </div>
    </div>

    <div class="content">
        <content>
            {% block content %}
            {% endblock %}
        </content>
    </div>

    <!--Script for filter button-->
    <script>
        function toggleDropdown() {
            document.getElementById("filterDropdown").classList.toggle("show");
        }
    </script>

    <script>
        // List of pages where the button should be hidden
        const hiddenPages = ["/create_item/", "/upload/", "{% url 'search' %}"];

        // Get the current page path
        const currentPage = window.location.pathname;

        // Check if the current page is in the hidden list
        if (hiddenPages.includes(currentPage)) {
            document.getElementById("filterButton").style.display = "none";
        }
    </script>

</body>
</html>

