{% extends 'base.html' %}

{% block content %}
{% if technical_form.instance.user == request.user %}
<item_body>
    <create_item>
        <h2>Змінити запис</h2>

        <!-- Display the current image -->
        {% if technical_form.instance.image %}
            <img src="{{ technical_form.instance.image.url }}" alt="Current Image" width="200">
        {% endif %}

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ technical_form.as_p }}

            <fieldset>
                <legend>Документація (Видат. накладна, Акт_ПП, Акт_ВВЕ, Внут. накладна тощо)</legend>
                {{ formset.management_form }}
                {% for form in formset.forms %}
                    {{ form.as_p }}
                {% endfor %}
            </fieldset>

            <div style="text-align: right; margin-top: 20px;">
                <button type="submit">Зберегти зміни</button>
            </div>

        </form>

    </create_item>
</item_body>
</html>
{% else %}
<item_body>
    <not_available>
        <h1>Зміни доступні тільки для відповідальної особи!</h1>
    </not_available>
</item_body>
{% endif %}
{% endblock %}