{% extends 'base.html' %}

{% block content %}
<item_body>
    <create_item>
        <h2>Створити новий запис</h2>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ technical_form.as_p }}

            <fieldset>
                <legend>Документація (Видат. накладна, Акт_ПП, Акт_ВВЕ, Внут. накладна тощо)</legend>
                {{ formset.management_form }}
                    {% for form in formset.forms %}
                        {{ form.as_p }}
                    {% endfor %}
            </fieldset>

            <div style="text-align: right; margin-top: 20px;">
                <button type="submit">Зберегти</button>
            </div>

        </form>

    </create_item>
</item_body>
{% endblock %}