{% extends "base.html" %}

{% block content %}

{% if results %}
    <div style="margin-top: 85px;">
        <h1>Результати пошуку "{{ query }}"</h1>
    </div>

    <table id="dataTable">
        <thead>
            <tr>
                <th onclick="toggleColumn(0)" style="width: 40px; background-color: #F5F5F5;">№ з/п</th>
                <th onclick="toggleColumn(1)" class="resizeable" style="width: 200px; background-color: #DCDCDC;">Найменування вибору(ів)</th>
                <th onclick="toggleColumn(2)" class="resizeable" style="width: 150px; background-color: #F5F5F5;">Заводський №</th>
                <th onclick="toggleColumn(3)" class="resizeable" style="width: 150px; background-color: #DCDCDC;">Інв. (номенклатур.) №</th>
                <th onclick="toggleColumn(4)" style="width: 50px; background-color: #F5F5F5;">К-сть, од. виміру</th>
                <th onclick="toggleColumn(5)" class="resizeable" style="width: 120px; background-color: #DCDCDC;">Первісна вартість (сума)</th>
                <th onclick="toggleColumn(6)" style="width: 100px; background-color: #F5F5F5;">Місцезнаходження об’єкта(ів)</th>
                <th onclick="toggleColumn(7)" class="resizeable" style="width: 100px; background-color: #DCDCDC;">МВО<br>/<br>закріплено за (особа)</th>
                <th onclick="toggleColumn(8)" class="resizeable" style="width: 100px; background-color: #F5F5F5;">№ формуляра (паспорта)<br>/<br>Дата початку експлуатації</th>
                <th onclick="toggleColumn(9)" class="resizeable" style="width: 140px; background-color: #DCDCDC;">Встановлений строк служби об’єкта(ів) в роках<br>/<br>Керівний документ по строкам служби об’єкта(ів)</th>
                <th onclick="toggleColumn(10)" style="width: 150px; background-color: #F5F5F5;">Категорія об’єкта(ів)</th>
                <th onclick="toggleColumn(11)" style="width: 150px; background-color: #DCDCDC;">Статус об’єкта(ів)</th>
                <th onclick="toggleColumn(12)" class="resizeable" style="width: 150px; background-color: #F5F5F5;">Примітка</th>
                <th onclick="toggleColumn(13)" style="width: 150px; background-color: #DCDCDC;">Документація (Видат. накладна, Акт_ПП, Акт_ВВЕ, Внут. накладна тощо)</th>
                <th onclick="toggleColumn(14)" style="width: 110px; background-color: #F5F5F5;">Світлина</th>
                <th onclick="toggleColumn(15)" style="width: 100px; background-color: #DCDCDC;">Ідентифікація (QR-code)</th>
                <th onclick="toggleColumn(16)" style="width: 100px; background-color: #F5F5F5;">Коригування</th>
            </tr>
        </thead>
            {% for item in results %}
        </tbody>
            <tr>
                <td style="width: 40px; background-color: #F5F5F5;">{{ forloop.counter }}</td>
                <td class="resizeable" style="width: 200px; background-color: #DCDCDC;">{{ item.product_name }}</td>
                <td class="resizeable" style="width: 150px; background-color: #F5F5F5;">{{ item.factory_number }}</td>
                <td class="resizeable" style="width: 150px; background-color: #DCDCDC;">{{ item.inv_number }}</td>
                <td style="width: 50px; background-color: #F5F5F5;">{{ item.quantity }} {{ item.unit_measurement }}</td>
                <td class="resizeable" style="width: 120px; background-color: #DCDCDC;">{{ item.formatted_price }}</td>
                <td style="width: 100px; background-color: #F5F5F5;">{{ item.storage_location }}</td>
                <td class="resizeable" style="width: 100px; background-color: #DCDCDC;">{{ item.responsible_person }} <br>/<br> {{ item.fixed_person }}</td>
                <td class="resizeable" style="width: 100px; background-color: #F5F5F5;">{{ item.item_passport_number }} <br>/<br> {{ item.formatted_date_of_start }}</td>
                <td class="resizeable" style="width: 140px; background-color: #DCDCDC;">{{ item.term_of_use }} <br>/<br> {{ item.term_of_use_document }}</td>
                <td style="width: 150px; background-color: #F5F5F5;">{{ item.category }}</td>

                <td class="{% if item.status == 'Встановіть статус' %}grey
                    {% elif item.status == 'Введено в експлуатацію' %}green
                    {% elif item.status == 'На складі' %}orange
                    {% else %}black{% endif %}" style="width: 150px; background-color: #DCDCDC;">{{ item.status }}</td>

                <td class="resizeable" style="width: 150px; background-color: #F5F5F5;">{{ item.terms }}</td>

                <td style="width: 150px; background-color: #DCDCDC;">
                    {% if item.docs.all %}
                        <select onchange="openSelectedDocument(this)" class="btn btn-info" style="max-width: 150px;">
                            <option value="" selected disabled>Оберіть документ</option>
                            {% for doc in item.docs.all %}
                                <option value="{{ doc.document.url }}">{{ doc.document.name }} </option>
                            {% endfor %}
                        </select>
                    {% else %}
                        ---
                    {% endif %}
                </td>

                <td style="width: 110px; background-color: #F5F5F5;">
                    {% if item.image %}
                        <img src="{{ item.image.url }}" alt="Image" width="100" height="100" onclick="openImage('{{ item.image.url }}')">
                    {% else %}
                        Без світлини
                    {% endif %}
                </td>

                <td style="width: 100px; background-color: #DCDCDC;">
                    <button onclick="openQRCode({{item.id}})" style="width: 80px;">QR-code</button>
                </td>

                <td style="width: 100px; background-color: #F5F5F5;">
                    <button onclick="changeItem({{item.id}})" style="width: 80px;">Змінити</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% else %}
    <p>No results found.</p>
{% endif %}

<script>
    function createButtons() {
        let table = document.getElementById("dataTable");
        let headers = table.querySelectorAll("thead th");
        let buttonsContainer = document.getElementById("buttons-container");

        let colors = [
            "#F5F5F5", "#cccccc", "#F5F5F5", "#cccccc", "#F5F5F5", "#cccccc", "#F5F5F5", "#cccccc",
            "#F5F5F5", "#cccccc", "#F5F5F5", "#cccccc", "#F5F5F5", "#cccccc", "#F5F5F5", "#cccccc",
            "#F5F5F5"
        ]; // Color array

        headers.forEach((th, index) => {
            let button = document.createElement("button");
            button.textContent = `${th.textContent}`;
            button.onclick = function () {
                toggleColumn(index);
            };

            // Set background color from the array
            button.style.backgroundColor = colors[index % colors.length];
            button.style.color = "#000"; // Text color
            button.style.border = "1px solid #000";
            button.style.cursor = "pointer";

            buttonsContainer.appendChild(button);
        });
    }

    function toggleColumn(index) {
        let table = document.getElementById("dataTable");
        let th = table.querySelectorAll("thead th")[index];
        let rows = table.querySelectorAll("tbody tr");

        let isHidden = th.classList.contains("hidden");

        if (isHidden) {
            th.classList.remove("hidden");
        } else {
            th.classList.add("hidden");
        }

        rows.forEach(row => {
            let td = row.children[index];
            if (td) {
                if (isHidden) {
                    td.classList.remove("hidden");
                } else {
                    td.classList.add("hidden");
                }
            }
        });
    }

    createButtons();
</script>

    <script>
        function changeItem(itemID) {
         // Redirect to a change item page
         window.location.href = "change_item/" + itemID;
        }

        function openQRCode(itemID) {
            // Redirect to a QR-code page
            var url = "itemQRCode?id=" + itemID;
            window.open(url, "_blank", "height=300, width=300");
        }

        function openSelectedDocument(selectElement) {
            var selectedOption = selectElement.options[selectElement.selectedIndex];
            if (selectedOption.value) {
                // Open the selected document in a new tab
                window.open(selectedOption.value, '_blank');
                // Reset the dropdown to the default option
                selectElement.selectedIndex = 0;
            }
        }

        function openImage(imageUrl) {
            // Create a modal overlay
            var overlay = document.createElement("div");
            overlay.style.position = "fixed";
            overlay.style.top = "0";
            overlay.style.left = "0";
            overlay.style.width = "100%";
            overlay.style.height = "100%";
            overlay.style.backgroundColor = "rgba(0, 0, 0, 0.8)";
            overlay.style.zIndex = "9999";
            overlay.style.display = "flex";
            overlay.style.justifyContent = "center";
            overlay.style.alignItems = "center";

            // Create an image element for the full screen image
            var fullScreenImage = document.createElement("img");
            fullScreenImage.src = imageUrl;
            fullScreenImage.style.maxWidth = "90%";
            fullScreenImage.style.maxHeight = "90%";
            fullScreenImage.style.objectFit = "contain";

            // Append the image to the overlay
            overlay.appendChild(fullScreenImage);

            // Append the overlay to the body
            document.body.appendChild(overlay);

            // Close the full screen image when clicking on the overlay
            overlay.onclick = function() {
                document.body.removeChild(overlay);
            };
        }
    </script>

{% endblock %}