{% extends 'base.html' %}

{% block content %}

<item_body>
    <create_item>
        <div class="content">
            <h2>Для імпортування данних з .xlsx переконайтесь що ваш файл відповідає зазначеній структурі та містить необхідні заголовки</h2>

            <table id="dataTable">
                <thead>
                    <tr>
                        <th style="font-size: 13px;">user__username</th>
                        <th style="font-size: 13px;">product_name</th>
                        <th style="font-size: 13px;">factory_number</th>
                        <th style="font-size: 13px;">inv_number</th>
                        <th style="font-size: 13px;">quantity</th>
                        <th style="font-size: 13px;">unit_measurement</th>
                        <th style="font-size: 13px;">price</th>
                        <th style="font-size: 13px;">storage_location</th>
                        <th style="font-size: 13px;">responsible_person</th>
                        <th style="font-size: 13px;">fixed_person</th>
                        <th style="font-size: 13px;">item_passport_number</th>
                        <th style="font-size: 13px;">date_of_start</th>
                        <th style="font-size: 13px;">term_of_use</th>
                        <th style="font-size: 13px;">term_of_use_document</th>
                        <th style="font-size: 13px;">category</th>
                        <th style="font-size: 13px;">status</th>
                        <th style="font-size: 13px;">terms</th>
                    </tr>
                </thead>

                <thead>
                    <tr>
                        <td style="font-size: 13px;">admin</td>
                        <td style="font-size: 13px;">Laptop Dell XPS</td>
                        <td style="font-size: 13px;">DLL12345</td>
                        <td style="font-size: 13px;">111485856</td>
                        <td style="font-size: 13px;">1</td>
                        <td style="font-size: 13px;">к-т.</td>
                        <td style="font-size: 13px;">1500.50</td>
                        <td style="font-size: 13px;">Warehouse A</td>
                        <td style="font-size: 13px;">John Doe</td>
                        <td style="font-size: 13px;">Jane Smith</td>
                        <td style="font-size: 13px;">PASSPORT1234</td>
                        <td style="font-size: 13px;">23.05.2024</td>
                        <td style="font-size: 13px;">3</td>
                        <td style="font-size: 13px;">5</td>
                        <td style="font-size: 13px;">1</td>
                        <td style="font-size: 13px;"></td>
                        <td style="font-size: 13px;"></td>
                    </tr>
                </thead>

                <thead>
                    <tr>
                        <td style="font-size: 13px;">user</td>
                        <td style="font-size: 13px;">product_name</td>
                        <td style="font-size: 13px;">weir3422250</td>
                        <td style="font-size: 13px;">111586954</td>
                        <td style="font-size: 13px;">3</td>
                        <td style="font-size: 13px;">шт.</td>
                        <td style="font-size: 13px;">price</td>
                        <td style="font-size: 13px;">storage_location</td>
                        <td style="font-size: 13px;">responsible_person</td>
                        <td style="font-size: 13px;">fixed_person</td>
                        <td style="font-size: 13px;">item_passport_number</td>
                        <td style="font-size: 13px;">22.02.2025</td>
                        <td style="font-size: 13px;">5</td>
                        <td style="font-size: 13px;">term_of_use_document</td>
                        <td style="font-size: 13px;">1</td>
                        <td style="font-size: 13px;">status</td>
                        <td style="font-size: 13px;">terms</td>
                    </tr>
                </thead>
            </table>

            <div class="import_data">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <form action="{% url 'upload_page' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="file" accept=".xlsx">
                    <button type="submit">Імпортувати дані</button>
                </form>
            </div>

        </div>
    </create_item>
</item_body>

{% endblock %}